
*{
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border: 0rem solid black;
}

header{
background-color: pink;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
h1{
    color: blanchedalmond;
    h1:hover{
        color: yellow;
    }

}
}
img2{
   width: 500px;
        height: 240px;
        border-radius: 0%;
        border: 0.3rem solid purple;
}
main{
    p1{
display: flex;
align-items: center;
justify-content: space-between;
}
}

.prueba {
    /*con la herramienta prueba puedes hacer infinidad de cosas como por ejemplo abajo
    con el hover al poner los ":" te sale el menu de cosas */
    color: blanchedalmond;
}

.prueba:hover {
    color: yellow;
}
div{
    background-size: cover;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
        position: absolute; 
        height: 100%;
        object-fit: cover;
        z-index: -1;
        left: 0;
        right: 0;
        mask-image: linear-gradient(
            to bottom,
            rgba(16, 25, 34, 1)5%
            rgba(16, 25, 34, 0)80%
        )
    }
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav ul li a{
    color: red;
    text-decoration: none;
    font-size: 16 px;
    font-weight: bold;
    transition: color 0.3s;
        width: 30%;
        height: 30%;
        border-radius: 10%;
        border: 0.3rem solid purple;
        background-color: purple;
}
nav ul li a:hover {
color: yellow;
}
p1{
    color: blanchedalmond;
            width: 100%;
        height: 30%;
        border-radius: 0%;
        border: 0.3rem solid purple;
        background-color: purple;
        text-align: center;
}
footer{
    background-color: purple;
    color: blanchedalmond;
    text-align: center;
    padding: 15px;
    margin-top: 45px;
}
#cajas{
    border-radius: 10%;
    border: 0.3rem solid purple;
    filter: blur(10px);
}
#cajas:hover{
    filter: blur(0px);
}